/* Homepage standard styles */

/* Elle Mackey */

/* Header styles */

header {
	width: 100%;
}

header img {
	display: inline-block;
	margin-left: 5%;
}

header h1 {
	color: white;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 300%;
	height: 15%;
	margin-top: 5%;
    margin-left: 20%;
	text-align: right;
	width: 70%;
}

header h2 {
	color: white;
	display: block;
	font-family: 'Dancing Script', cursive;
	font-size: 150%;
	/*font-style: italic;*/
	margin-left: 45%;
	text-align: right;
	width: 40%;
}
	
aside {
		background-color: lightpink;
		border-radius: 15px;
		color: rgb(255, 105, 180);
		display: inline-block;
		font-family: 'Dancing Script', cursive;
		width: 10%;
		margin-right: 5%;
		padding: 6px;
		text-align: center;
}

aside a {
	text-decoration: none;
}
		
aside a:hover {
	color: rgb(0, 255, 255);
}
	
	
/* Body styles */

body {
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: inherit;
	line-height: 1em;
	list-style: none;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
	/*margin-top: 3%;*/
	margin-bottom: 3%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bodybag {
    background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: inherit;
	line-height: 1em;
	list-style: none;
	margin-left: 5%;
    margin-top: 5%;
	vertical-align: baseline;
	/*margin-top: 3%;*/
	margin-bottom: 3%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.bodybag button {
    font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	float: center;
	padding: 10px 10px;
	text-align: right;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 5px;
}

.bodybag button:hover {
    background-color: white;
    color: black;
}

body p {
    text-align: center;
}


/* Top of Page navigation styles */


nav a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}


nav.horizontalNAV {
	margin-left: 0%;
	width: 95%;
	
}

nav.horizontalNAV Button {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	float: left;
	padding: 10px 10px;
	text-align: right;
	width: 15%;
    background-color: rgb(21, 20, 20);
    color: white;
    text-align: center;
    margin-left: 5px;
}


nav.horizontalNAV Button:hover {
    background-color: white;
	color: black;
}




/* Headers styles */

h3 {
	color: white;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
	text-transform: uppercase;
	margin-left: 33%;
}

h4.cursive{
	display: block;
	font-family: 'Dancing Script', cursive;
	font-size: 120%;
	margin-left: 30%;
}


.banner {
    margin-left: 5%;
    margin-top: 1%;
    background-color:rgb(11, 47, 67);
    color: white;
    text-align: center;
    padding: 10px 10px;
    width: 90%;
}


/*Section styles */
.login {
    background-color:rgb(11, 47, 67);
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
}

.profile {
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
}

.create-store {
    background-color: rgb(11, 47, 67);
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

#intake-form {
    background-color: white;
    color: black;
}
#intake-form div {
    margin-top: 10px;
}

#intake-form label{
    margin-left: 10px;
    margin-right: 2px;
}

#intake-form button {
    margin-left: 10px;
    margin-right: 10px;
}

.features div{
    width: 90%;
    color: white;
    margin-left: 5%;
    margin-top: 1%;
    background-color: rgb(11, 47, 67);
}

.features #text-inputs {
    margin-top: 10px;
    margin-left: 10px;
}

.features button {
    margin-left: 5%;
    background-color: black;
    color: white;
    font-size: 150%;
}

.features button:hover {
    background-color: white;
    color: black;
}


#tile-title{
    font-size: 125%;
    margin-top: 2%;
    margin-left: 2%;
}

#c1 {
    width: 25%;
    display: inline-block;

}
#c2 {
    width: 25%;
    display: inline-block;

}
#c3 {
    width: 25%;
    display: inline-block;    
}



/*text section*/

#elevator {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	width: 100%;
	align-content: center;
    margin-top: 10%;
}

/* Page link navigation */

nav.policy a {
	color: rgb(255, 105, 180);
	display: inline;
	font-family: 'Dancing Script', cursive;
	text-align: right;
	float: none;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0px 10px 0px 0px;
	width: 40%;
	text-decoration: none;
}

nav.policy a:hover {
	color: rgb(0, 255, 255);
}
	

/* Footer styles */

hr {
	clear: left;
}

footer {
	color:white;
	font-size: 75%;
	line-height: .5em; 
	text-align: right;
	margin-right: 10%;
    margin-top: auto;
}

a.bib {
	color: lightpink;
}

