.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height:100px;
}

.Brand {
  display: flex;
  flex-direction: row;
  text-align: center;;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto;
  padding-top: 25px;
  font-size: 20px;
  font-weight: bold;
  top:50%;
}

.Button {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 12px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
